body {
    font-family: 'Times New Roman', serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.3;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
p {
    margin-bottom: 1em;
}
h1 {
    font-size: 3em;
    margin-bottom: 10px;
}
h2 {
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
}
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
}